ADF/pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get KeyVault APIClient",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://nyccrimes.vault.azure.net/secrets/ClientID/eb36d272e486406cbd1b27d46dc77423",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get Bearer Token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get KeyVault APIClient",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get KeyVault APISecret",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded",
						"Cookie": "fpc=Aiu1F41MFJxljZNYWC_BNN7ncEI6AQAAAH3FNtsOAAAA;\nstsservicecookie=estsfd; x-ms-gateway-slice=estsfd"
					},
					"url": "https://login.microsoftonline.com/b6da6400-c0a3-4462-aa15-299b9d055deb/oauth2/v2.0/token",
					"body": {
						"value": "@concat('grant_type=client_credentials&client_id=', activity('Get KeyVault APIClient').output.value, '&client_secret=', activity('Get KeyVault APISecret').output.value, '&scope=https://analysis.windows.net/powerbi/api/.default')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get KeyVault APISecret",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://nyccrimes.vault.azure.net/secrets/SecretID/46ce8c73c57d4b68867e29c21e00c415",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Refresh DataFlow",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Bearer Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json",
						"Authorization": {
							"value": "@concat('Bearer', activity('Get Bearer Token').output['access_token'])",
							"type": "Expression"
						}
					},
					"url": "https://app.powerbi.com/groups/me/datasets/792159ea-06b8-4907-8198-a7411d655f86/details?experience=power-bi",
					"body": {
						"value": "{\"type\":\"full\", \"commitMode\": \"transactional\", \"applyRefreshPolicy\": \"false\"}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}